body {
  width: 100%;
  background: url(../images/bg-top.jpg) top center no-repeat, url(../images/bg-bottom.jpg) bottom center no-repeat, url(../images/bg-repeat.jpg);
  font-family: 'Candara', Arial, sans-serif;
  font-size: 14px;
  color: #587c95;
  line-height: 1;
}
a {
  transition: all 0.3s ease;
  color: #5dbe23;
  text-decoration: none;
}
a:hover,
button:hover {
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
  text-decoration: none;
}
a:hover {
  color: #9f64cf;
}
p {
  margin-bottom: 15px;
}
h1,
h2,
h3 {
  color: #2196f4;
  margin-bottom: 20px;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
input,
textarea {
  background: #f7f7f7;
  border: 1px solid #cccccc;
  color: #587c95;
  padding: 8px 15px;
  position: relative;
}
button,
.button {
  transition: all 0.3s ease;
  cursor: pointer;
  background: linear-gradient(to bottom, #b7cc45, #65b62a);
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 13px;
  text-shadow: 1px -1px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
  padding: 12px 22px;
  display: inline-block;
  text-transform: uppercase;
}
button:hover,
.button:hover {
  color: #fff;
}
.button-purple {
  background: linear-gradient(to bottom, #b876ec, #8f2db4);
}
:focus {
  outline: none;
}
::-webkit-input-placeholder {
  color: #bdbdbd;
}
::-moz-placeholder {
  color: #bdbdbd;
}
:-moz-placeholder {
  color: #bdbdbd;
}
:-ms-input-placeholder {
  color: #bdbdbd;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.flex-j {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.container {
  min-height: 250px;
  margin-bottom: 20px;
}
/* Header
-----------------------------------------------------------------------------*/
.header {
  height: 536px;
  position: relative;
}
.top-panel-block {
  align-items: center;
  position: relative;
  height: 70px;
}
.icon {
  display: inline-block;
  height: 23px;
  width: 22px;
}
.lock-icon {
  background: url(../images/lock-icon.png) no-repeat;
}
.reg-icon {
  background: url(../images/reg-icon.png) no-repeat;
}
.menu li {
  display: inline-block;
  margin: 0px 16px 0px 16px;
}
.menu li a {
  display: block;
  text-transform: uppercase;
  padding: 0px 12px;
  position: relative;
  line-height: 70px;
}
.menu li a:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 15px;
  background: #2e4b1c;
  top: 27px;
  right: -17px;
}
.menu li a:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 0%;
  left: -20px;
  box-shadow: 0px 3px 8px 0px rgba(159, 100, 207, 0.8);
  transition: all 0.6s ease;
}
.menu li a:hover {
  color: #9f64cf;
}
.menu li a:hover:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: #9f64cf;
  top: 0;
  left: 0;
  box-shadow: 0px 3px 8px 0px rgba(159, 100, 207, 0.8);
}
.menu li:first-child {
  margin: 0px 16px 0px 0px;
}
.menu li:last-child {
  margin: 0px 0px 0px 16px;
}
.menu .active a {
  color: #9f64cf;
}
.menu .active a:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: #9f64cf;
  top: 0;
  left: 0;
  box-shadow: 0px 3px 8px 0px rgba(159, 100, 207, 0.8);
}
.menu li:last-child a:after {
  display: none;
}
.panel-buttons {
  display: flex;
}
.panel-buttons a {
  display: flex;
  align-items: center;
  margin-left: 7px;
  padding: 8px 22px;
}
.panel-buttons a .icon {
  margin: 0px 10px 0px -14px;
}
.login-panel {
  position: relative;
}
.login-panel a {
  display: flex;
  align-items: center;
  color: #2196f4;
}
.login-panel a img {
  margin-left: 10px;
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
.hidden-block {
  background: #fff;
  position: absolute;
  right: 0px;
  padding: 20px 10px;
  margin-top: 15px;
  width: 100px;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
.hidden-block:before {
  border: 6px solid transparent;
  border-bottom-color: white;
  position: absolute;
  top: -12px;
  right: 10px;
  content: '';
}
.hidden-block a {
  justify-content: center;
  padding: 10px 0px;
}
.hidden-block a:hover {
  background: #e4e4e4;
}
.login-panel a:focus ~ .hidden-block,
.login-panel a:active ~ .hidden-block {
  opacity: 1;
  visibility: visible;
}
.logo a {
  display: block;
  background: url(../images/logo.png) no-repeat;
  width: 444px;
  height: 148px;
  position: absolute;
  left: 271px;
  top: 162px;
}
.logo a:hover {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}
/* Middle
-----------------------------------------------------------------------------*/
.p-block {
  background: #fff;
  border-radius: 4px;
  padding: 14px;
  margin-bottom: 5px;
}
.content {
  width: 660px;
  padding: 30px;
}
.page-content {
  line-height: 1.3;
}
.page-content img {
  max-width: 660px;
}
.page-content ul {
  margin-bottom: 15px;
  padding-left: 10px;
}
.page-content ul li {
  padding: 3px 0px;
}
.page-content ul li:before {
  content: ">";
  margin-right: 5px;
}
.content-title {
  color: #5dbe23;
}
.news {
  align-items: center;
  margin-bottom: 50px;
}
.news .news-img {
  width: 124px;
}
.news .news-img img {
  border: 2px solid #d5dee4;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.news .news-i {
  width: 510px;
}
.news .news-i h2 {
  border-bottom: 1px solid rgba(93, 190, 35, 0.1);
  padding-bottom: 15px;
}
.news .news-i h2 a {
  color: #2196f4;
  font-size: 16px;
}
.news .news-i h2 a:hover {
  color: #5dbe23;
}
.news .news-i .news-text {
  line-height: 1.3;
  padding-bottom: 5px;
  border-bottom: 1px solid #c8d9d4;
  margin-bottom: 10px;
}
.news .news-i .news-text a {
  text-decoration: underline;
}
.news .news-i .news-info span {
  padding: 10px 0px 10px 0px;
  display: inline-block;
  font-size: 13px;
}
.news .news-i .news-info .author a {
  margin: 0px 5px;
  color: #2196f4;
  font-size: 13px;
  text-decoration: underline;
}
.news .news-i .news-info .author a:hover {
  text-decoration: none;
}
.news .news-i .news-info .views {
  border-left: 1px solid #c8d9d4;
  padding-left: 16px;
  margin-left: 14px;
}
.news .news-i .news-info .comm {
  border-left: 1px solid #c8d9d4;
  padding-left: 16px;
  margin-left: 16px;
}
.news .read-more {
  float: right;
}
.pagination {
  text-align: center;
  font-size: 13px;
  padding-left: 0px !important;
}
.pagination li {
  display: inline-block;
}
.pagination li:before {
  display: none;
}
.pagination li a {
  color: #2196f4;
  padding: 0px 5px;
  font-family: Tahoma, Geneva, sans-serif;
}
.pagination li .active {
  color: #9f64cf;
}
.pagination li .next {
  margin-left: 10px;
  color: #587c95;
}
.pagination li .next:after {
  content: ">>";
  margin-left: 6px;
}
.pagination li .back {
  margin-right: 10px;
  color: #587c95;
}
.pagination li .back:before {
  content: "<<";
  margin-right: 6px;
}
/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
  width: 270px;
}
.server-block {
  margin-bottom: 10px;
}
.server {
  align-items: center;
  padding: 14px 20px;
}
.circle-container {
  width: 65px;
}
.circliful {
  position: relative;
}
.circle-text {
  width: 100%;
  position: absolute;
  text-align: center;
  display: inline-block;
  font-family: Tahoma, Geneva, sans-serif;
  color: #5dbe23;
}
.server-info {
  width: 140px;
}
.server-info .server-n-s {
  align-items: center;
  border-bottom: 1px solid #e4e5e5;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.server-info .name {
  font-weight: bold;
  color: #587c95;
  text-transform: uppercase;
}
.server-info .status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
}
.server-info.online {
  color: #5dbe23;
}
.server-info.online .status {
  background: #5dbe23;
}
.server-info.offline {
  color: #fe4f4f;
}
.server-info.offline .status {
  background: #fe4f4f;
}
.sidebar-title {
  color: #5dbe23;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  margin-bottom: 7px;
}
.sidebar-title a {
  font-size: 14px;
  font-weight: normal;
}
.sidebar-title a:before {
  content: "+";
  margin-right: 4px;
}
.forum-block {
  margin-bottom: 10px;
}
.forum {
  align-items: center;
  transition: all 0.4s ease;
}
.forum .ava {
  width: 40px;
}
.forum .ava img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
  margin-top: 2px;
}
.forum .forum-info {
  width: 162px;
  color: #587c95;
}
.forum .forum-info a {
  color: #2196f4;
  margin-bottom: 5px;
}
.forum .forum-info .forum-title {
  font-weight: bold;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.forum .forum-info span {
  font-size: 13px;
  display: inline-block;
}
.forum .comm-block {
  width: 40px;
  display: flex;
  align-items: center;
  align-self: flex-start;
  justify-content: flex-end;
  color: #2196f4;
}
.forum:hover {
  box-shadow: 0px 0px 10px 1px rgba(159, 100, 207, 0.5);
}
.forum:hover img {
  box-shadow: 0px 0px 4px 2px rgba(159, 100, 207, 0.9);
}
.forum:hover a {
  color: #9f64cf;
}
.forum:hover .comm-block {
  color: #9f64cf;
}
.forum:hover .comm-block .comment-icon {
  background: url(../images/comment-icon-hover.png) no-repeat;
}
.comment-icon {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url(../images/comment-icon.png) no-repeat;
  margin-right: 4px;
}
.top-players {
  padding: 14px 0px;
}
.top-players table {
  width: 100%;
  color: #587c95;
}
.top-players table a {
  color: #587c95;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 110px;
}
.top-players tr {
  border-bottom: 1px dashed #a4a2a2;
  transition: all 0.4s ease;
}
.top-players tr:first-child {
  color: #2196f4;
}
.top-players tr:first-child:hover {
  color: #2196f4;
  box-shadow: none;
}
.top-players tr:hover {
  box-shadow: 0px 0px 10px 1px rgba(159, 100, 207, 0.4);
  color: #9f64cf;
}
.top-players tr:hover a {
  color: #9f64cf;
}
.top-players td {
  padding: 12px;
}
.top-players td:nth-child(3n) {
  text-align: right;
}
.top-players td:nth-child(4n) {
  text-align: right;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
  height: 190px;
  padding-top: 110px;
  position: relative;
  line-height: 1.3;
  color: #676f6e;
  flex-wrap: wrap;
}
.left-f-block {
  width: 720px;
}
.right-f-block {
  width: 270px;
  text-align: center;
}
.f-menu h3 {
  font-size: 13px;
  color: #fff;
  font-weight: normal;
}
.f-menu a {
  display: block;
  margin: 9px 0px;
  font-size: 13px;
  color: #bdeca0;
}
.f-menu a:hover {
  text-decoration: underline;
}
#toTop {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  right: 117px;
  top: 20px;
  margin-left: -43px;
  background: url(../images/up-button.png) no-repeat;
  cursor: pointer;
  z-index: 2;
}
.soc-block a {
  display: inline-block;
  width: 26px;
  height: 24px;
  margin: 0px 6px;
  margin-bottom: 40px;
}
.soc-block .fb {
  background: url(../images/soc-icons.png) 1px 0px no-repeat;
}
.soc-block .tw {
  background: url(../images/soc-icons.png) -36px 0px no-repeat;
}
.soc-block .gl {
  background: url(../images/soc-icons.png) -73px 0px no-repeat;
}
.design {
  color: #676f6e;
  font-size: 12px;
}
.design a {
  color: #bde7ff;
  text-decoration: underline;
}
.design a:hover {
  text-decoration: none;
}
.copyright {
  width: 100%;
  text-align: center;
  font-size: 13px;
  color: #676f6e;
  margin-top: 10px;
}
.copyright a {
  color: #bde7ff;
}
.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalDialog:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modalDialog > div {
  width: 400px;
  position: relative;
  padding: 20px 0px 20px 0px;
  border-radius: 3px;
  background: url(../images/bg-repeat.jpg);
  transition: all 0.7s ease;
  transform: scale(0);
  text-align: center;
}
.modalDialog > div h2 {
  border-bottom: 1px solid rgba(93, 190, 35, 0.1);
  padding-bottom: 15px;
}
.modalDialog > div .modal-button {
  margin-top: 30px;
}
.modalDialog > div .modal-button a {
  padding: 8px 22px;
  display: inline-flex;
  align-items: center;
}
.modalDialog > div .modal-button a .icon {
  margin: 0px 10px 0px -14px;
}
.modalDialog > div span {
  display: block;
  margin-bottom: 6px;
}
.modalDialog:target > div {
  transform: scale(1);
}
.close {
  background: #2196f4;
  color: #fff;
  line-height: 15px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 15px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50%;
  padding: 3px;
  box-shadow: 1px 1px 3px #000;
}
.close:hover {
  background: #5dbe23;
  color: #fff;
}
.check {
  bottom: -2px;
}
/*# sourceMappingURL=style.css.map */